body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .ContentBox {
        height: 100%;
        transition: transform .5s;
        margin: 0 auto;
    }
    section.PageBox {
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .PB-inner {
            align-items: flex-start;
            display: flex;
            justify-content: flex-start;
            max-width: 1440px;
            width: 100%;
            margin: 20px auto;
            padding: 20px;
        }
        .PBi-01 {
            width: 100%;
            align-items: center;
            color: #fff;
            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .box01 {
                // flex: 1;
                img {
                    // width: 100%;
                    max-width: 240%;
                    height: auto;
                }
                
                .ImgItemBox {
                    .item {
                        transition-timing-function: ease;
                        opacity: 0;
                        transition: opacity .1s;
                    }
                    .pg01-part-1 {
                        transform: translate(-30px, 870px);
                        opacity: 0;
                        transition: transform .2s, opacity 1s;
                    }
                    .pg01-part-2 {
                        transform: translate(-30px, 870px);
                        opacity: 0;
                        transition: transform .2s, opacity 1s;
                        transition-delay: .3s;
                    }
                    .pg01-part-3 {
                        transform: translate(-200px, 950px);
                        opacity: 0;
                        transition: transform .2s, opacity 1s;
                        transition-delay: .5s;
                    }
                    .pg01-part-4 {
                        transform: translate(-400px, 630px);
                        opacity: 0;
                        transition: transform .2s, opacity 1s;
                        transition-delay: .8s;
                    }
                    &.aaa {
                        .item {
                            opacity: 1;
                        }
                        .pg01-part-1 {
                            transform: translate(627px, 821px);
                        }
                        .pg01-part-2 {
                            // transform: translate(456px, 398px);
                            transform: translate(230px, 685px);
                        }
                        .pg01-part-3 {
                            // transform: translate(463px, 125px);
                            transform: translate(237px, 409px);
                        }
                        .pg01-part-4 {
                            // transform: translate(-1px, -310px);
                            transform: translate(-230px, -26px);
                        }
                    }
                }
            }
            .box02 {
                right: 80px;
                top: 399px;
                position: absolute;
                h2,h3 {
                    display: inline-block;
                }
                h2 {
                    margin-bottom: 25px;
                    position: relative;
                    span {
                        font-size: 60px;
                    }
                }
                .txt {
                    font-size: 38px;
                }
                .MBox {
                    display: none;
                }
            }
        }
        .PBi-02 {
            display: flex;
            flex-direction: column;
            color: #fff;
            .box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .box01 {
                margin-bottom: 15px;
                h2 {
                    margin-bottom: 55px;
                }
                p {
                    margin-bottom: 15px;  
                }
                .ml2 {
                    font-weight: 900;
                }
                .ml2 .letter {
                    display: inline-block;
                    line-height: 1em;
                }
            }
            .box02 {
                img {
                    margin-top: 15px;
                }
            }
            
        }
        .PBi-03 {
            display: flex;
            flex-direction: column;
            color: #fff;
            .box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .box01 {
                margin-bottom: 15px;
                .ml3 {
                    font-weight: 900;
                }
                .ml3 .letter {
                    display: inline-block;
                    line-height: 1em;
                }
            }
            .box02 {
                margin: 30px 0 40px;
                img {
                    width: 100%;
                }
            }
            .box03 {
                .neon-effect {
                    text-shadow:
                    0 0 5px rgb(250, 48, 48),
                    0 0 10px rgba(250, 48, 48, 1),
                    0 0 20px rgba(250, 48, 48, 1),
                    0 0 30px rgba(250, 48, 48, 1);
                    animation:neon-shine 1s linear infinite;
                }
                @keyframes neon-shine{
                    0%{opacity:1;}
                    90%{opacity:.5;}
                    100%{
                    color:#d6d6d6;}
                }
            }
            .MBox {
                display: none;
            }
            .box03 {
            }
        }
        .PBi-04 {
            width: 100%;
            align-items: center;
            color: #fff;
            .box {
                display: flex;
                justify-content: center;
                align-items: end;
                flex-direction: column;
            }
            .box01 {
                flex: 1;
                h2,h3 {
                    margin-bottom: 25px;
                }
                .ml4 {
                    font-weight: 900;
                }
                .ml4 .letter {
                    display: inline-block;
                    line-height: 1em;
                }
            }
            .box02 {
                width: 800px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .PBi-05 {
            width: 100%;
            align-items: center;
            flex-direction: row-reverse;
            color: #fff;
            .box {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }
            .box01 {
                padding: 10px;
                h3 {
                    color: #c3992f;
                    font-size: 36px;
                }
                .ItemBox {
                    margin: 60px 0 0 0;
                    padding: 0 0 0 40px;
                }
                .ItemBox li {
                    counter-increment: step-counter;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    position: relative;
                    h3 {
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
                .ItemBox li::before {
                    content: counter(step-counter);
                    font-size: 24px;
                    font-weight: bold;
                    padding: 5px;
                    display: inline-block;
                    position: absolute;
                    left: -30px;
                    color: #c3992f;
                }
            }
            .box02 {
                // box-shadow: 2px 2px 2px rgba(15, 14, 16, 0.15), 4px 4px 6px rgba(15, 14, 16, 0.2), 6px 6px 12px rgba(15, 14, 16, 0.5);
                // border-radius: 25px;
                // border: 10px solid #00000059;
                width: 800px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .PBi-06 {
            width: 100%;
            align-items: center;
            color: #fff;
            .box {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .box01 {
                img {
                    margin-bottom: 30px;
                }
                h2 {
                    font-size: 77px;
                    margin: 25px 0 40px;
                }
                p {
                    &:nth-child(5) {
                        margin-top: 30px;
                        font-size: 50px;
                    }
                }
                .txt {
                    margin-bottom: 10px;
                }
                .ml6 {
                    font-weight: 900;
                }
                .ml6 .letter {
                    display: inline-block;
                    line-height: 1em;
                }
            }
            .box02 {
                width: 800px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            // .bottom-bg {
            //     background-image: url(../images/pg06/item-bottom.png);
            // }
            &:after {
                content: url(../images/pg06/item-bottom.png);
                position: fixed;
                margin-top: 330px;
                left: 0;
                width: 100%;
                height: 200px;
            }
        }
        &:nth-child(1) {
            background-color: #0c131d;
            background-image: url(../images/pg01/Imgbg.png);
        }
        &:nth-child(2) {
            background-image: linear-gradient(150deg, rgb(20, 20, 20) 10%, rgb(9, 32, 58) 75%, rgb(20, 20, 20) 100%);
        }
        &:nth-child(3) {
            background-image: linear-gradient(-150deg, rgb(20, 20, 20) 10%,rgb(9, 32, 58) 50%, rgb(20, 20, 20) 100%);
        }
        &:nth-child(4) {
            background-image: linear-gradient(150deg, rgb(20, 20, 20) 10%,rgb(9, 32, 58) 50%, rgb(20, 20, 20) 100%);
        }
        &:nth-child(5) {
            background-image: linear-gradient(-150deg, rgb(20, 20, 20) 10%, rgb(9, 32, 58) 50%, rgb(20, 20, 20) 100%);
        }
        &:nth-child(6) {
            background-image: linear-gradient(150deg, rgb(20, 20, 20) 10%, rgb(9, 32, 58) 50%, rgb(20, 20, 20) 100%);
        }
    }
    h2 {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1.4px;
        color: #c3992f;
    }
    h3 {
        font-size: 36px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .txt {
        font-size: 30px;
        line-height: 40px;
    }
    .txt-b {
        font-size: 34px;
    }
    .txt-o {
        opacity: .6;
    }
    .title-block {
        transform: translate3d(500px, 0, 0);
        transition: transform .3s,opacity .3s;
        opacity: 0;
    }
    .content-block {
        transform: translate3d(-550px, 0, 0);
        transition: transform .3s,opacity .3s;
        opacity: 0;
    }
    .block-04 {
        h3 {
            transform: translate3d(-900px, 0, 0);
            opacity: 0;
            transition: transform .3s,  opacity .8s;
        }
        p {
            transform: translate3d(-1000px, 0, 0);
            transition: transform .5s;
        }
    }
    .block-05 {
        li {
            transform: translate3d(550px, 0, 0);
            opacity: 0;
            transition: transform .5s,  opacity 1s;
        }
    }
    .block-06 {
        p {
            transform: translate3d(-550px, 0, 0);
            opacity: 0;
            transition: transform .5s,  opacity 1s;
        }
    }

    .PageBox.animation {
        .title-block {
            transform: translate3d(0, 0, 0);
            transition-delay: .3s;
            opacity: 1;
        }
        .content-block {
            transform: translate3d(0, 0, 0);
            transition-delay: .5s;
            opacity: 1;
        }
        .block-04 {
            h3 {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
            p {
                transform: translate3d(0, 0, 0);
                transition-delay: .1s;
            }
        }
        .block-05 li {
            &:nth-child(1) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
            &:nth-child(2) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition-delay: .1s;
            }
            &:nth-child(3) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition-delay: .3s;
            }

        }
        .block-06 p {
            &:nth-child(1) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
            &:nth-child(2) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition-delay: .1s;
            }
            &:nth-child(3) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition-delay: .3s;
            }
            &:nth-child(4) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition-delay: .5s;
            }
            &:nth-child(5) {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition-delay: .8s;
            }
        }
    }
}

@media screen and (max-width:750px) {
    .wrap {
        width: 100%;
        height: auto;
        section.PageBox {
            height: auto;
            .PB-inner {
                align-items: flex-start;
                display: flex;
                justify-content: flex-start;
                max-width: 1440px;
                width: 100%;
                margin: 20px auto 0;
            }
            .PBi-04, .PBi-05, .PBi-06 {
                flex-wrap: wrap;
            }
            .PBi-04 .box, .PBi-05 .box, .PBi-06 .box {
                width: 100%;
                flex: auto;
            }
            .PBi-04 .box01, .PBi-05 .box01, .PBi-06 .box01 {
                margin-bottom: 10px;
            }
            .PBi-01 {
                .box01 {
                    display: none;
                }
                .box02 {
                    right: 0;
                    top: 0;
                    margin: 0 auto;
                    position: relative;
                    h2 {
                        margin-bottom: 25px;
                        span {
                            font-size: 80/750*100vw;
                        }
                    }
                    .txt {
                        font-size: 44/750*100vw;
                    }
                    img {
                        margin: 40px 0;
                        width: 100%;
                    }
                }
            }
            .PBi-02 {
                .box02 {
                    img {
                        width: 100%;
                    }
                }
            }
            .PBi-01, .PBi-03 {
                .PCBox {
                    display: none;
                }
                .MBox {
                    display: block;
                }
            }
            .PBi-05 {
                .box01 {
                    h3 {
                        font-size: 46/750*100vw;
                        font-weight: 500;
                    }
                    .ItemBox li::before {
                        font-size: 38/750*100vw;
                    }
                }
            }
            &:nth-child(1) {
                background-color: #0c1323;
                background-image: none;
            }
        }
        h2 {
            font-size: 54/750*100vw;
            line-height: 60/750*100vw;
        }
        h3 {
            font-size: 46/750*100vw;
            font-weight: 500;
        }
        .txt {
            font-size: 36/750*100vw;
            line-height: 48/750*100vw;
        }
    }
}







